extends ../layout

block content
    .container-fluid
        .row
            .col-md-8.col-md-offset-2
                .panel.panel-primary
                    .panel-heading Nueva Bicileta
                    .panel-body
                    form.form-horizontal(role='form' method='POST' action="/bicicletas/create")
                        .form-group.row
                            label.col-sm-2.col-form-label Color
                            .col-md-6
                                input.form-control(type='text' style='text-transform: capitalize' required='' name='color')
                        .form-group.row
                            label.col-sm-2.col-form-label Modelo
                            .col-md-6
                                input.form-control(type='text' style='text-transform: capitalize' required='' name='modelo')
                        .form-group.row
                            label.col-sm-2.col-form-label Latitud
                            .col-md-6
                                input.form-control(type='text' style='text-transform: capitalize' required='' name='lat')
                        .form-group.row
                            label.col-sm-2.col-form-label Longitud
                            .col-md-6
                                input.form-control(type='text' style='text-transform: capitalize' required='' name='long')

                        .form-group.row
                        .col-sm-6.col-sm-offset-4
                            a.btn.btn-default(href='/bicicletas') Volver
                            input.btn.btn-success(type='submit' value ='Crear')
