extends ../layout

block content
    a.btn.btn-default(href='/bicicletas/create') Nueva
    table.table 
        thead 
            tr 
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') 
                th(scope='col') 

        tbody
            each bici in bicis 
                tr
                    th(scope='row') #
                        = bici.code 
                    td= bici.color
                    td= bici.modelo 
                    td= bici.ubicacion
                     td
                        a(href="/bicicletas/update/"+bici.code)  Modificar
                    td
                        a(href="/bicicletas/remove/"+bici.code)  Eliminar
                    


